<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to <%=shopName%></title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header-sub">
        <nav>
            <div class="navi" id = "menu">
                <i class="fa fa-times-circle" onclick="menuExit()"></i>
                <ul>
                    <li><a href="/search">Search for books</a></li>
                    <li><a href="/register">Register with us</a></li>
                    <li><a href="/login">login</a></li>
                    <li><a href="/logout">logout</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/chat-list">Chats</a></li>
                </ul>    
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <h1>Messages</h1>
        </nav>
  </section>


    <section class="secondsec">
      
      <ul>
        <% chatData.forEach(function(chat) { %>
          <li>      
          <div class="row">
              <div class="secondsec-col">
                <%= chat.sender %>, <%=chat.message%>  
              </div>

              <div class="secondsec-col">
                <img src="<%= chat.url %>" alt="<%= chat.title %>" />
                <%= chat.timestamp_formatted %>
          </li>
        <% }) %>
      </ul>

        </div>    
      </div>
      
  </section>

  
    </body>
</html>
